

	<h3 class="no-bold legend"><%= @inventory.name %></h3>

	<li>#<%= @inventory.id %></li>
	<li><%= @inventory.artwork %></li>
	<li><%= @inventory.amount_left %></li>
	<li><%= @inventory.amount_per_box %></li>
	<li><%= @inventory.amount_left * @inventory.amount_left %></li>
	<li><%= @inventory.wh_position %></li>
	<li><%= @inventory.created_at %></li>
	<li><%= @inventory.updated_at %></li>
	<li><%= @inventory.notes %></li>
