  <% return show_flash "You're already logged in", "alert" if is_logged_in? %>

  <% if @user.errors.any? %>
  <div class="span6 pull-right">
 
       <div class="alert alert-error">
           <%= @user.errors.count.to_s + " errors found" %>
       </div> 
       <ul>
         <% @user.errors.full_messages.each do |e| %>
           <li><%= e.humanize %></li>
         <% end %>
       </ul>
  </div>
  <% end %>

  <%= form_for @user, :html => { :class => "#{center_form} form-horizontal" } do |f| %>

    <div class="control-group">
      <%= f.label :Email, :class => "control-label", :for => "users_email" %>
      <div class="controls">
        <%= f.text_field :email, :placeholder => "Email" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :Name, :class => "control-label", :for => "users_name" %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => "Name" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :Password, :class => "control-label", :for => "users_password" %>
      <div class="controls">
        <%= f.password_field :password, :placeholder => "Password" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :Confirm_password, :class => "control-label", :for => "users_password_confirmation" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
      </div>
    </div>        

    <%= f.submit :Register, :class => "btn btn-primary offset3" %>

  <% end %>