<!DOCTYPE html>
<html>
<head>
  <title><% if @page_title %><%= create_page_title %><% else %>WarehouseApp<% end %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="brand">WarehouseApp</div>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><%= link_to 'Home', root_path %></li>
            <% if is_logged_in? %>
              <li><%= link_to :Dealers, materials_index_path("dealers") %></li>
              <li><%= link_to :Installers, materials_index_path("installers") %></li>
              <li><%= link_to :Surveyors, materials_index_path("surveyors") %></li>              
            <% end %>
          </ul>
          <ul class="nav pull-right">
            <% if is_logged_in? %>
              <li><%= link_to 'Logout', logout_path %> </li>
            <% else %>
              <li><%= link_to 'Login', login_path %></li>
              <li><%= link_to 'Register', register_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>	
  </div>
  
  <div class="subnav container">   
    <div class="row-fluid">
      <% if !is_logged_in? && @logged_in %>
        <%= show_msg login_required_text, "warning" %>
      <% elsif !is_admin? && @admin %>
        <%= show_msg admin_required_text, "warning" %>
      <% else -%>
        <%= yield %>
      <% end -%>
    </div>
  </div>

  <div class="container-fluid pre_fluid navbar navbar-fixed-bottom">
    <div class="pull-right muted">
      &copy; <%= Time.now.year %> WarehouseApp.net / <%= link_to "About", about_path %> / <%= link_to "Contact", contact_path %> 
    </div>
  </div>
</body>
</html>
