<!DOCTYPE html>
<html>
<head>
  <title><% if @page_title %><%= create_page_title %><% else %>WarehouseApp<% end %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

   <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "WarehouseApp", user_index_path, :class => "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', user_index_path %></li>
              <% if is_logged_in? %>
                <li <%= active_tab("dealers") %>><%= link_to "Dealers", mats_path(:dealers) %></li>
                <li <%= active_tab("installers") %>><%= link_to "Installers", mats_path(:installers) %></li>
                <li <%= active_tab("partners") %>><%= link_to "Partners", mats_path(:partners) %></li>
                <li <%= active_tab("surveyors") %>><%= link_to "Surveyors", mats_path(:surveyors) %></li>            
              <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if is_logged_in? %>
              <li><%= link_to 'Logout', logout_path %> </li>
            <% else %>
              <li><%= link_to 'Login', login_path %></li>
              <li><%= link_to 'Register', register_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  
  <div class="subnav container">   
    <div class="row-fluid">
      <% if !is_logged_in? && @logged_in %>
        <%= show_msg login_required_text, "warning" %>
      <% elsif !is_admin? && @admin %>
        <%= show_msg admin_required_text, "warning" %>
      <% else -%>
        <%= yield %>
      <% end -%>
    </div>
  </div>

  <div class="container">
    <div class="pull-right muted">
      &copy; <%= Time.now.year %> WarehouseApp.net / <%= link_to "About", about_path %> / <%= link_to "Contact", contact_path %> 
    </div>
  </div>
</body>
</html>
<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js', 'application' %>
